<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admindachboard.css">
</head>
<body>
    <main class="dashboard-card">
        <header class="header">
            <h1>Welcome, Admin</h1>
            <p class="subtitle">Manage your operations from here</p>
        </header>

        <a href="/admin/trips" class="nav-link">
            <span class="nav-icon">🚗</span>
            <span class="nav-text">Edit Trips</span>
            <span class="nav-arrow">→</span>
        </a>
        <a href="/admin/tiketsv" class="nav-link">
            <span class="nav-text">view tikets</span>
            <span class="nav-arrow">→</span>
        </a>
    </main>
</body>
</html>